In [1]:
import mkdl_data

mkdl = mkdl_data.mkdl_data()

**marketstack**

In [2]:
df = mkdl.get_data_yfinance('AAPL')
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close     Volume
Date
1980-12-12    0.098726    0.099155    0.098726    0.098726  469033600
1980-12-15    0.093575    0.094005    0.093575    0.094005  175884800
1980-12-16    0.086707    0.087136    0.086707    0.087136  105728000
1980-12-17    0.088853    0.089282    0.088853    0.088853   86441600
1980-12-18    0.091429    0.091858    0.091429    0.091429   73449600
...                ...         ...         ...         ...        ...
2025-02-24  247.100006  248.860001  244.419998  244.929993   51326400
2025-02-25  247.039993  250.000000  244.910004  248.000000   48013300
2025-02-26  240.360001  244.979996  239.130005  244.330002   44433600
2025-02-27  237.300003  242.460007  237.059998  239.410004   41153600
2025-02-28  241.839996  242.089996  230.199997  236.949997   56796200

[11144 rows x 5 columns]